<template name="Home">
	{{> HomeJumbotron}}{{> HomeSection1}}{{> HomeSection2}}{{> HomeSection3}}{{> HomeSectionContact}}
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
	</div>
</template>

<template name="HomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<p id="jumbotron-text">
			</p>
			{{> Three_Columns}}
		</div>
	</div>
</template>

<template name="Three_Columns">
	<h1 id="columns">
	</h1>
	<div class="row text-center">
		<object data="/images/cecjumbotron.svg" type="image/svg+xml">
		</object>
	</div>
	<div class="row text-center">
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-search fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Know who you are hiring - Verify identity
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-check fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Provide a safe work environment for your company
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-university fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Avoid lawsuits - a background check can reveal history of improper behaviour
			</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-archive fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Verification of resume history
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-sign-out fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Reduce employee turnover
			</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-stop fa-stack-2x text-primary">
				</i>
				<i class="fa fa-building-o fa-stack-1x fa-inverse">
				</i>
			</span>
			<p>
				Hiring the right employee is the cornerstone of a company's foundation
			</p>
		</div>
	</div>
</template>

<template name="HomeSection1" id="section1">
	<section class="bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" id="content">
					{{> HomeContent1}}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="HomeContent1">
	{{#markdown}}<h1 id="services">Services</h1>
<ul>
	<li>BCI - State of Ohio Electronic Fingerprinting</li>
	<li>FBI Electronic Fingerprinting</li>
	<li>Mobile Fingerprinting unit Available \*</li>
	<li>Standard Background Check \*\*</li>
	<li>A La Carte Items:</li>
	<ul>
		<li>Education Verification</li>
		<li>Employment Verification</li>
		<li>Motor Vehicle Report \*\*\*</li>
		<li>Validated Criminal Database using Former Last Name</li>
		<li>Business Credit Report</li>
		<li>Civil Record \*\*\*\* </li>
		<li>I9 & E-Verify</li>
		<li>Bankruptcies, Liens & Judgements</li>
		<li>Professional License Verification</li>
		<li>Personal/Professional Referense Verification</li>
		<li>DOT Employment Verification</li>
		<li>Medical Fraud & Abuse</li>
		<li>Drug Testing Cup 10 Panel +AT (non DOT)</li>
		<li>Drug Testing Oral 10 Panel (non DOT)</li>
	</ul>
</ul>
<dl>
<dt><sub>\* Mobile Fingerprinting Service Available - Call for more information</sub></dt>
<dt><sub>\*\* Standard Background Check includes Validated Criminal Database/Validated Nationwide Sex Offender/Validated Dept. Of Correction/Unlimited Single County Searches (7 year address history/SSN Verification w/Address History/Government Sanctions ( Terrorist Searches )</sub></dt>
<dt><sub>\*\*\* Motor Vehicle Report + State Fees ( Varies from state to state )</sub></dt>
<dt><sub>\*\*\*\* Per state charge applies ( Has to be ran with standard background check )</sub></dt>
</dl>{{/markdown}}
</template>

<template name="HomeSection2" id="section2">
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" id="content">
					{{> HomeContent2}}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="HomeContent2">
	{{#markdown}}
<h1 id="about">About Us</h1>

<p>
At Complete Employment Check our mission is to help you completely understand who you are considering hiring or doing business with. To provide the necessary information to help you make an informed decision. To help you to forge a strong foundation for your company by reducing liability, decreasing employee turnover while protecting your assets and promoting a safe work environment.
</p>
<p>
We have state of the art electronic scanning fingerprint equipment: In coordination with the Ohio Bureau of Criminal Identification & Investigation WebCheck&trade; system - we are able to provide a new means of conducting criminal background checks in the State of Ohio. We are also able to provide Federal Bureau of Investigation background checks via the National WebCheck&trade; system for a State of Ohio mandated background check. More and more industries today are requiring fingerprints as their background check process.
</p>
{{/markdown}}
</template>

<template name="HomeSection3" id="section3">
	<section class="bg-blue">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" id="content">
					{{> HomeContent3}}{{> HomeContent4}}{{> HomeContent5}}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="HomeContent3">
	{{#markdown}}
<h1 id="section3">More Information</h1>

<p>Who can have a BCI&I background check?
<ul>
<li>Anyone</li>
<li>For any reason</li>
<li>Results can be mailed anywhere</li>
</ul>
</p>


<p>Who can have a FBI background check? 
<ul>
<li>Must be a State of Ohio mandated background check</li>
<li>People working with children</li>
<li>People working with the elderly</li>
<li>People working in the DoD field</li>
<li>Nurses</li>
<li>Firefighters/EMT</li>
<li>Pharmacy Technicians</li>
</ul>
</p>

<p>State of Ohio licensing that requires an FBI background check: Results must be send directly to the State Board</p>


{{/markdown}}
</template>

<template name="HomeContent4">
	{{#markdown}} <ul class="tables">
    <li>Accountancy Board</li>
    <li>Investment Managers with BWC</li> 
    <li>Acupuncturist</li>
    <li>Lottery Commission</li> 
    <li>Anaesthesiologist Assistant</li>
    <li>Massage or Cosmetic Therapist</li>
    <li>Chiropractic Board</li>
    <li>Medical Board</li>
    <li>Construction Industry</li>
    <li>Occupational Therapy, Physical Therapy and Athletic Trainers Board</li>
    <li>Counselor, Social Worker, Marriage and Family Therapy Board</li>
    <li>Department of Commerce</li>
    <li>Dental Board</li>
    <li>Optical Dispensers Board</li>
    <li>Dietetics Board</li>
    <li>Racing Commission</li>
    <li>Embalmers and Funeral Directors</li>
    <li>Optometry Board</li>
    <li>Pharmacy Board</li>
    <li>Orthotics, Prosthetics and Pedorthics Board</li>
    <li>Physicians Assistants</li>
    <li>Psychology Board</li>
    <li>Podiatrists ( including surgeons )</li>
    <li>Respiratory Care Board</li>
    <li>Private Investigator/Security Guard</li>
    <li>Telemedicine Practitioners</li>
    <li>Veterinary Medical Board</li>
    <li>Ohio Department of Insurance</li>
    <li>Owners/Employees of Pain Management Clinics</li>
</ul>
{{/markdown}}
</template>

<template name="HomeContent5">
	{{#markdown}}<p><b>We offer competitive pricing - quick turnaround times - please call for more information</b></p>
<p><a href="http://www.ohioattorneygeneral.gov/Business/Services-for-Business/Webcheck" class="links">More Info</a></p>{{/markdown}}
</template>

<template name="HomeSectionContact" id="section_contact">
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" id="content">
					{{> HomeContentContact}}{{> HomeContact}}
				</div>
			</div>
		</div>
	</section>
</template>

<template name="HomeContentContact">
	{{#markdown}}
<h1 id="contact">Contact Us</h1>

<b>Complete Employment Check</b>

10554 Success Lane Suite E
Dayton, OH  45458

937-203-5896 – Office
937-688-2011 – Fax

For more information please contact: Kim Stadler at kim.stadler@completeemploymentcheck.com


{{/markdown}}
</template>

<template name="HomeContact">
	<div class="">
		<form id="form" role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}				
				
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Your name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-email">
				<label for="email">
					Your e-mail
				</label>
				<div class="input-div">
					<input type="text" name="email" value="" class="form-control" required="required" data-type="email">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-message">
				<label for="message">
					Message
				</label>
				<div class="input-div">
					<textarea class="form-control" name="message"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

